[submodule ".vim/bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/tsuquyomi"]
	path = .vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-auto-save"]
	path = .vim/bundle/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/neomru.vim"]
	path = .vim/bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-anzu"]
	path = .vim/bundle/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu.git
